html {
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Cardo', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://chinaipr2.files.wordpress.com/2014/02/sun_wen_red_chamber_5.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 5px 15px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
}

.hero-text button:hover {
    background-color: #555;
    color: white;
}

.py-6 {
    padding-top: 40px;
    padding-bottom: 10px;
}

.text-center {
    text-align: center!important;
}

.rounded-circle {
    border-radius: 15px 50px!important;
}

.spotlight-image {
    width: 300px;
}

.book-content {
    background-color: rgb(201, 198, 198);
}

.book_summary {
    display: inline-block;
    text-align: left;
    width: 300px;
    padding-bottom: 20px;
    padding-top: 10px;
}

.book_summary:first-letter {
    font-family: 'Cardo', serif;
    float: left;
    font-size: 6rem;
    line-height: 0.65;
    margin: 0.1em 0.1em 0.2em 0;
    color: #7c1e0e;
}

@media only screen and (max-width: 768px) {
    .book-content {
        display: grid;
        grid-template-columns: 1fr;
        padding: 1em;
        grid-row-gap: 100px;
    }
}

.about-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://wallpaperaccess.com/full/352912.jpg");
    height: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
    min-height: 100vh;
    padding: 50px 0 50px;
}

.container {
    max-width: 1172px;
    margin: 0 auto;
    padding: 0 10px;
    color: white;
}

@media (min-width: 768px) {
    .container {
        padding: 0 15px;
    }
}

.heading {
    padding: 50px 0 40px;
}

@media (min-width: 768px) {
    .heading {
        padding: 45px 0 75px;
    }
}

.text {
    padding: 0 0 9px;
    max-width: 800px;
}

@media (min-width: 768px) {
    .text {
        padding-left: 7px;
    }
}

.blockquote-wrap {
    padding: 22px 0 20px 20px;
    max-width: 600px;
    padding-left: 7px;
    border-top: 2px solid rgba(178, 194, 143, 0.52);
}

.text {
    padding: 0 0 9px;
    max-width: 800px;
}

@media (min-width: 768px) {
    .text {
        padding-left: 7px;
    }
}

.text a {
    text-decoration: underline;
}

blockquote {
    margin: 0 0 40px;
    line-height: 32px;
}

@media (min-width: 768px) {
    blockquote {
        padding: 9px 25px 10px 40px;
        margin-bottom: 11px;
    }
}

blockquote q {
    margin-bottom: 10px;
    vertical-align: top;
    position: relative;
}

blockquote q:before {
    position: absolute;
    left: -12px;
}

blockquote cite {
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    font-size: 13px;
    padding-left: 15px;
    position: relative;
    color: #f4eb9d;
}

@media (min-width: 768px) {
    blockquote cite {
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 0.4px;
        text-transform: uppercase;
    }
}

blockquote cite:before {
    position: absolute;
    top: 10px;
    left: 0px;
    content: '';
    background-color: #f4eb9d;
    width: 10px;
    height: 1px;
}

#footer {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
}

#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}