.py-6 {
    padding-top: 80px;
    padding-bottom: 80px;
}

.spotlight-image {
    width: 200px;
}

.rounded-circle {
    border-radius: 50%!important;
}

.user-image {
    width: 50px;
}

.mr-3,
.mx-3 {
    margin-right: 1rem!important;
}